<div class="uk-container">
    <div class="uk-text-left" uk-grid>
        <div class="uk-width-1-3@m">
            <div class="uk-card uk-card-default uk-card-body">
                <span><strong>VS</strong> OFFSET PRINTERS</span><br />
                <span>Shop.No # 11-6-837/1 | Sana Apartment</span><br />
                <span>LakadikaPool, Red Hills</span><br />
                <span> Hyderabad, Telangana 500004</span><br />
                <span>Contact: +91-6302308893</span><br />
                <span>Contact: +91-9642199995</span></div>
        </div>
        <div class="uk-width-2-3@m">
            <div class="uk-card uk-card-default uk-card-body"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15229.036819669125!2d78.465867!3d17.399344!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x11a10a9be67b655c!2sV%20S%20Offset%20Printers!5e0!3m2!1sen!2sus!4v1597119252373!5m2!1sen!2sus"
                    width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe></div>
        </div>
    </div>
</div>