<div class="footer">
    <div class="uk-container">
        
        <div uk-scrollspy="cls: uk-animation-fade; repeat: true;delay: 500">
            <div class="uk-width-1-3@m">
                <span><strong>VS</strong> OFFSET PRINTERS</span><br/>
                <span>Shop.No # 11-6-837/1 | Sana Apartment</span><br/>
                <span>LakadikaPool, Red Hills</span><br/>
                <span> Hyderabad, Telangana 500004</span><br/>
                <br/>
                <br/>
                © 2020 <a class="auth" href="/admin"><strong>VS</strong></a>
                 OFFSET PRINTERS
            </div>
        </div>
    </div>
</div>