<nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
        <span uk-icon="menu"></span>
        </span>
    <a href="#" class="logo"><strong>VS&nbsp;</strong> OFFSET PRINTERS</a>
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="#" class="nav-links">Home</a>
      </li>
      <li>
        <a href="#services" class="nav-links" uk-toggle>Services</a>
      </li>
      <li>
        <a href="#contact-us" class="nav-links" uk-toggle>Contact Us</a>
      </li>
    </ul>
  </nav>